@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  text-decoration: none;
}
.introduction {
  background-image: url("../assets/backgrounds/h_img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  text-align: center;
  height: 100vh;
}
.over {
  margin: auto;
}
.intro {
  margin-top: 50px;
}
.logo img {
  margin-top: 200px;
}
.mouse-click img {
  margin-top: 140px;
}
.intro h1 {
  color: white;
}

.intro p {
  color: white;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin: auto;
}
.aboutUs {
  margin-top: 40px;
}
#aboutUs h2 {
  text-align: center;
  font-weight: 600;
}
#aboutUs p {
  text-align: center;
}
.services h2 {
  text-align: center;
  font-weight: 700;
}

.services p {
  font-weight: 600;
}
.services {
  background-image: url("../assets/backgrounds/s_image.jpg");
  height: 50vh;
  width: 100%;
  position: relative;
  top: 160px;
  color: #fff;
  opacity: 0.8;
  text-align: center;
}
#service {
  margin-top: 30px;
}
.what-we-do {
  margin-top: 180px;
}
#p1,
#p2,
#p3 {
  display: none;
}
.top {
  text-align: center;
}
.show {
  width: 80%;
  margin: auto;
}
.hover {
  padding: 74px;
  background-color: grey;
  opacity: 0.7;
  color: white;
  margin-top: -184px;
  text-align: center;
  font-weight: 800;
  font-size: 22px;
}

.contactUs {
  background-image: url("../assets/backgrounds/c_image.jpg");
  margin-top: 70px;
}
.us h3 {
  font-weight: 700;
}
.us {
  margin-top: 30px;
}
.form-control::-webkit-input-placeholder {
  color: white;
}
#inputName {
  background: transparent;
  color: white;
  border: solid 2px #fff;
  width: 250px;
}
#inputEmail {
  background: transparent;
  color: white;
  border: solid 2px #fff;
  width: 400px;
  margin: auto;
}
#inputMessage {
  background: transparent;
  color: white;
  border: solid 2px #fff;
  height: 250px;
  width: 580px;
  margin: auto;
}
form {
  opacity: 0.4;
  width: 70%;
  margin: auto;
}
#button {
  text-align: center;
}
.areatext {
  margin-top: 20px;
}
.row {
  margin-top: 50px;
}
.social-media {
  margin-top: 30px;
  margin-bottom: 20px;
}
/* h3 {
  color: white;
} */
