.introduction {
    background-image: url("../assets/backgrounds/h_img.jpg");
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    text-align: center;
}

.intro h1 {
    color: white;
}

.intro p {
    color: white;
}